@model NorthwestLabs.Models.Client

@{
    ViewBag.Title = "PaymentSubmissionConfirmation";
}

<h2>Payment Submission Confirmation</h2>

Thank you for your order. A copy of the report will be sent to you. Please send two samples of your compound to the Singapore office. 