
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Schedule Tests", "scheduleTests", "Singapore")
@Html.ActionLink("View Schedule", "viewSchedule", "Singapore")
@Html.ActionLink("Test Tube Status", "Index", "TestTubes")