@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<p class="jumbotron" style="margin:50px;">
    Northwest Labs Pharmaceutical provides chemical and compound tests for companies needing in-depth assay analysis.
    We are dedicated to providing reliable and accurate tests on pharmaceutical compounds and drugs.  Since 1996 we have
    been conducting assay analysis for clients world wide.  <br />


</p>

