@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron" style="margin:50px;">
    <address>
        5555 Main Street<br />
        Seattle, WA 98101<br />
        <abbr title="Phone">Phone:</abbr>
        425-555-0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@NorthwestLabs.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@NorthwestLabs.com</a>
    </address>

    If you would like to submit an application to become a customer please <u>@Html.ActionLink("Click Here", "CreatePotentialClient", "Home")</u>. Your application will be reviewed by our customer
    support team and notice will be sent to you upon approval.
</div>